.traduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    background-color:rgba(0, 140, 186, 0.8);
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 50%;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  textarea,
  select {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .listen-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .listen-button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
  }
  
  .listen-button:hover {
    cursor: pointer;
  }
  
  .listen-button.active {
    background-color: #f44336;
  }
  
  .translate-button {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    margin-bottom: 20px;
  }
  
  .translate-button:hover {
    cursor: pointer;
  }
  
  .output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .download-button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    margin-top: 10px;
  }
  
  .download-button:hover {
    cursor: pointer;
  }
  
  .progress-container {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #008CBA;
    border-radius: 10px;
  }
  