/* CSS para el navbar */
.navbar {
    padding: 1rem 2rem; /* Ajusta el padding a tu gusto */
    background-color: rgba(59, 144, 183, 0.3);
    margin-top:0px;
    margin-left: 2.58%;
    margin-right: 2.58%;
    margin-bottom: 2px;
     /* Color del navbar */
  }
  
  /* Color de texto de los links del navbar */
  .navbar a {
    color: white;
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente a tu gusto */
  }
  
  /* Color de texto del botón de Iniciar Sesión */
  .navbar .btn-outline-light {
    color: white;
  }
  
  /* Media query para dispositivos móviles */
  @media screen and (max-width: 767px) {
    /* Ajusta el tamaño del navbar y el botón de Iniciar Sesión */
    .navbar {
      padding: 1rem;
    }
    .navbar .btn-outline-light {
      font-size: 0.8rem;
    }
    /* Ajusta el color del fondo de los links y el botón de Iniciar Sesión */
    .navbar a,
    .navbar .btn-outline-light {
      background-color: #343a40;
    }
    /* Ajusta el color de texto de los links y el botón de Iniciar Sesión */
    .navbar a,
    .navbar .btn-outline-light {
      color: white;
    }
    /* Ajusta el color de fondo del navbar */
    .navbar {
      background-color: white;
    }
    /* Ajusta el color de texto de los links del navbar cuando se abren */
    .navbar .navbar-collapse {
      background-color: white;
    }
    .navbar .navbar-nav .nav-link {
      color: #343a40;
    }
  }
  @media screen and (max-width: 991px) {
    .navbar .navbar-nav {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #343a40;
    }
    .navbar .navbar-nav .nav-link {
      padding: 0.5rem 1rem;
      color: #fff;
    }
    .navbar .navbar-nav .nav-link:hover {
      color: #f8f9fa;
    }
  }