:root {
  --bg-color: #c1dfed;
  --text-color: #333333;
  --link-color: #0077ff;
  --link-hover-color: #0044ff;
}

/* Estilos para el contenedor de los proyectos */
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
  width: 95%;
  margin: auto;
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fade-in 1s;
}

/* Estilos para los proyectos */
.project {
  background-color: aliceblue;
  color: var(--text-color);
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project:hover {
  background-image: url('../assets/abeja-Planta-Girasol.png');
  background-size: cover;
  background-position: center;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.project:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.project:hover h4 {
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.project:active {
  transform: scale(0.95);
}

.project.loading {
  background-color: #fff;
  animation: pulse 1s infinite;
}

.project h4 {
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.project p {
  font-size: 16px;
  margin-bottom: 20px;
}

.project a {
  font-size: 16px;
  color: var(--link-color);
  transition: all 0.3s ease-in-out;
}

.project a:hover {
  color: var(--link-hover-color);
}

/* Estilos para la información de contacto */
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-info svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.project:hover h4,
.project:hover h4,
.project:hover p,
.project:hover a {
  color: #fff;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
}

@media screen and (max-width: 1200px) {
  .portfolio-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .portfolio-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    padding: 30px;
  }

  .portfolio-intro {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    margin-bottom: 40px;
    padding: 30px;
  }

  .portfolio-projects {
    grid-column: 1 / -1;
    grid-row: 2;
    padding: 30px;
  }

  .project {
    max-width: 100%;
  }

  .portfolio-contact {
    grid-column: 1 / -1;
    grid-row: 3;
    padding: 30px;
  }

  .contact-info {
    justify-content: center;
  }

  .contact-info:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .project h4 {
    font-size: 20px;
  }

  .project p {
    font-size: 14px;
  }

  .contact-info {
    font-size: 14px;
  }
}

:root {
  --bg-color: rgba(193, 223, 237, 0.4);
  --text-color: #333333;
  --link-color: #0077ff;
  --link-hover-color: #0044ff;
}
