



.App {
    background-image: url('../src/assets/abejaGirasol.png');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Orbitron';
  }  

